/* Mobile */
#fetch {
    background-color: white;
    width: 29px;
    height: 29px;
    border-radius: 0px 16px 16px 0px;
    padding-right: 8px;
}

#fetch > img {
    margin: auto;
    max-height: 10px;
    max-width: 10px;
}

#fetch-controls > * {
    vertical-align: middle;
}

nav {
    width: inherit;
    text-align: center;
    color: white;
}

nav > * {
    display: block;
    padding: 8px;
}

nav button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav input[type="text"] {
    display: inline-block;
    border: none;
    border-radius: 16px 0px 0px 16px;
    padding: 4px 0px 4px 16px;
}

nav > span {
    margin: auto 0;
}

.stripe {
    display: block;
    background-color: black;
    width: 100%;
    padding-bottom: 4px;
}

/* Desktop */
@media only screen and (min-width: 961px) {
    nav {
        text-align: right;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 961px;
        margin: 0 auto;
    }

    .stripe {
        padding-bottom: 0px;
    }
}