/* Mobile */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

.container {
    display: block;
    background-color: white;
}

.container > div {
    padding: 8px;
}

#conversion-canvas, #conversion-img {
    display: none;
}

.image-container {
    display: inline-block;
    max-width: 100%;
    margin: 8px 0;
    padding: 8px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.image-container > *{
    display: block;
    margin: 0 auto;
}

.image-thumbnail {
    max-width: 100%;
    max-height: 500px; /*choose better number?*/
}

#gallery {
    display: block;
    text-align: center;
}

#modal {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    display: none; /* toggle this to flex to make modal visible */
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
}

#modal > img {
    display: block;
    margin: auto;
}


#modal-image {
    max-width: 100%;
    max-height: 100%;
}

.responsive-block {
    display: block;
}

/* Desktop */
@media only screen and (min-width: 961px) {
    body {
        background-color: #f2f2f2;
    }

    .container {
        width: 900px;
        margin: 0 auto;
    }

    .image-container {
        margin: 8px;
    }

    .image-thumbnail {
        max-width: 200px;
        max-height: 200px;
    }

    #gallery {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
    }
}