/* Mobile */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

.container {
    display: block;
}

.container > div {
    padding: 8px;
}

#conversion-canvas, #conversion-img {
    display: none;
}

.hidden-controls-container {
    display: none; /* Toggle to inline-block */
    width: 100%;
    margin-top: 8px;
}

.image-container {
    display: inline-block;
    max-width: 100%;
    margin: 8px 0;
    padding: 8px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.image-container:active {
    box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

/* Basically the same look as the nav buttons. Redundant? */
.image-delete-button {
    border-radius: 4px;
    background-color: red;
    border: none;
    color: white;
    padding: 4px;
    display: block;
    margin: 0 auto;
}

.image-delete-button:hover {
    background-color: rgba(200,0,0,1);
}

.image-thumbnail {
    max-width: 100%;
    max-height: 500px; /*choose better number?*/
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

#gallery {
    display: block;
    text-align: center;
}

#modal {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    display: none; /* toggle this to flex to make modal visible */
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#modal-image {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

#options-toggle {
    margin: 16px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    background-color: teal;
    color: white;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#options-toggle:active {
    box-shadow: none;
}

#options-toggle:hover {
    background-color: rgba(0,100,100,1);
}

.responsive-block {
    display: block;
}

/* Desktop */
@media only screen and (min-width: 961px) {
    

    .container {
        width: 961px;
        margin: 0 auto;
    }

    .image-container {
        margin: 8px;
        
    }

    .image-thumbnail {
        max-width: 200px;
        max-height: 200px;
    }

    #gallery {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
    }
}