<!DOCTYPE html>
<html>

<head>
    <title>Image Keep</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/gallery.css">
</head>
<header>
    <div class="full-width black">
        <nav class="fixed">
            <ul>
                <li>
                    <button onclick="viewHandler.getView('/views/gallery.html')">Gallery</button>
                </li>
                <li>
                    <a href="#">Upload</a>
                </li>
                <li>
                    <button onclick="viewHandler.getView('/views/about.html')">About</button>
                </li>
            </ul>
        </nav>
    </div>
</header>

<body class="full-width" onload="viewHandler.getView('/views/gallery.html')">
    <div id="container">
        <!-- Load AJAX-retrieved HTML content here. -->
    </div>

    <!-- Just setting the environment -->
    <script>
        let galleryLoaded = false;
    </script>

    <!-- Load views using AJAX -->
    <script src="/js/view-handler.js"></script>
</body>

</html>