<!DOCTYPE html>
<html>

<head>
    <title>Image Keep</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/gallery.css">
</head>
<header>
    <div class="full-width black">
        <nav class="fixed">
            <ul>
                <li>
                    <div class="nav-control">
                        <!-- TODO: Replace with proper logo. -->
                        <span class="logo">Image Keep</span>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="nav-control hover" onclick="viewHandler.getView('/views/gallery.html')">
                        <span>Gallery</span>
                    </div>
                </li>
                <li>
                    <div class="nav-control hover" onclick="viewHandler.getView('/views/about.html')">
                        <span>About</span>
                    </div>
                </li>
            </ul>
            <ul>
                <li>
                    <div class="nav-control">
                        <!-- TODO: Find and use an upload icon. -->
                        <input type="text" placeholder="Enter image URL">
                        <input type="submit" value="+">
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <script>
        // TODO: Set ul height to nav-bar's computed height and recalculate with window resize
        console.log("Hello");
    </script>
</header>

<body class="full-width" onload="viewHandler.getView('/views/gallery.html')">
    <div id="container">
        <!-- Load AJAX-retrieved HTML content here. -->
    </div>

    <!-- Set up some global variables. -->
    <script>
        let galleryLoaded = false;
    </script>

    <!-- Load the viewHandler, an object with methods that manipulate contents on the page. -->
    <script src="/js/view-handler.js"></script>
</body>

</html>